/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2016, 2:43:38 PM
    Author     : annasun
*/
body { 
    background: url(background.png) no-repeat;
}
#main .container{
    margin-top: 120px;
    margin-left: 710px;
}

